.horizontal-align{
    display: flex;
    justify-content: center;
}
.vertical-align{
    display: flex;
    align-content: center;
}
#body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: #272727;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";   
}
#body .container{
    background-image: url("https://jolly-kalam-23776e.netlify.app/restaurantwebsite/assets/images/topography.svg"), linear-gradient(110deg, #f93d66, #6d47d9);
    margin: 50px;
}
#body .container .nav{
    margin-top: 30px;
}
#body .container .nav .inside-nav{
    margin-top: 15px;
    margin-bottom: 20px;
}
#body .container .nav .inside-nav .max-in{
    font-weight: 900;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #ffc600;
    background-color: #ffc600;
    font-size: 20px;
    padding-left: 15.5%;
    padding-right: 15.5%;
}
#body .container .bellow-nav{
    display: flex;
}
#body .container .bellow-nav .left{
    background: url("https://jolly-kalam-23776e.netlify.app/restaurantwebsite/images/taco.jpg");
    background-repeat: no-repeat;
    min-height: 400px;
    width: 65%;
}
#body .container .bellow-nav .left .teery-parent{
    display: inline-block;
}
#body .container .bellow-nav .left .teery-parent .terry{
    border: 1px solid #ffc600;
    background-color: #ffc600;
    display: inline-block;
    font-family: #272727;
    font-size:20px ;
    font-weight: 900;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
}
#body .container .bellow-nav .left .teery-parent .preety{
    border: 1px solid #ffc600;
    background-color: #ffc600;
    display: inline-block;
    font-family: #272727;
    font-size:15px ;
    font-weight: 900;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#body .container .bellow-nav{
    margin-bottom: 15px;   
}
#body .container .bellow-nav .right{
    width: 34%;
}
#body .container .bellow-nav .right .price{
    border: 1px solid #ffc600;
    background-color: #ffc600;
    height: 50%;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
#body .container .bellow-nav .right .price .onepnine{
    font-size: 60px;
    font-weight: 300;
}
#body .container .bellow-nav .right .price .bellow-one{
    font-size: 15px;
}
#body .container .image-des{
    background-image: url("https://jolly-kalam-23776e.netlify.app/restaurantwebsite/assets/images/topography.svg"), linear-gradient(110deg, #f93d66, #6d47d9);
    margin-top: 15px;
    padding-bottom: 15px;
}
#body .container .image-des .img-explain{
    border: 1px solid white;
    background: white;
    margin-left: 10px;
    margin-right: 10px;
}
#body .container .image-des .img-explain .icons{
    font-size: 50px;
} 
#body .container .image-des .img-explain .icon-exp{
    font-size: 15px;
    font-weight: bolder;
}
#body .container .image-des .img-explain .lorem{
    font-size: 15px;
    color: #272727;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
#body .container .featured{
    background: white;
    padding-top: 60px;
    padding-bottom: 30px;
}
#body .container .featured .taco-image{
    display: inline-block;
}
#body .container .featured .taco-img-detail{
    display: inline-block;
    color: #272727;
    font-weight: bolder;
}
#body .container .featured .taco-img-detail .featured-taco{
    font-size: x-large;
}
#body .container .featured .taco-img-detail .slim-profile{
    margin-top: 15px;
    margin-bottom: 15px;
}
#body .container .featured .taco-img-detail .learn{
    border: 1px solid#ffc600;
    display: inline-block;
    background: #ffc600;
    font-weight: normal;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}
#body .container .instant-grams{
    margin-top: 10px;
}
#body .container .instant-grams .column-one img{
    width: 18.7%;
    margin: 10px;
}
#body .container .instant-grams .column-two img{
    width: 18.7%;
    margin: 10px;
}